<div class="container">


<h2 id='title'>Reddit Parsing Exercise</h2>

<nav>
  {{#link-to 'posts' 'emberjs'}}Emberjs{{/link-to}}
  {{#link-to 'posts' 'javascript'}}Javascript{{/link-to}}
  {{#link-to 'posts' 'programming'}}Programming{{/link-to}}
</nav>

{{outlet}}

</div>
