
<section class="sub-nav">
  {{#each post in data.children}}
  <h4>
    <a {{bind-attr href=post.data.url}}>
      {{post.data.title}}
    </a>
  </h4>
  {{/each}}
</section>

<section class="posts">
{{outlet}}
</section>
